@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Poppins:wght@300;400&display=swap');

:root {
    --cor-concluido: #8fc9b9;
    --cor-fundo: #e8e9d6;
    --cor-alerta: #91334f;
}

*{
    font-family: 'Poppins', sans-serif, 'Noto Sans JP', sans-serif;
}
 
html, body { height: 100%; background-color: rgb(231, 247, 247); }
body { margin: 0; }

.btn-contacts {
    color: white;
}
